[package]
name = "nostr_archive"
version = "0.1.0"
edition = "2021"

[lib]
name = "nostr_archive_utils"

[[bin]]
name = "nostr_archive"
path = "src/bin/main.rs"

[dependencies]
anyhow = "1.0.89"
clap = { version = "4.5.18", features = ["derive"] }
serde = { version = "1.0.210", features = ["derive"] }
tokio = { version = "1.40.0", features = ["rt", "rt-multi-thread", "macros", "fs", "io-util"] }
serde_json = "1.0.128"
hex = "0.4.3"
async-compression = { version = "0.4.12", features = ["tokio", "gzip", "zstd", "bzip2"] }
indicatif = "0.17.8"
tokio-stream = "0.1.16"
async-stream = "0.3.5"
regex = "1.11.0"
url = "2.5.2"
ureq = "2.10.1"
