[package]
name = "nostr-cursor"
version = "0.1.0"
edition = "2021"

[dependencies]
log = "0.4.22"
anyhow = "1.0.89"
hex = "0.4.3"
serde = { version = "1.0.210", features = ["derive"] }
tokio = { version = "1.40.0", features = ["rt", "rt-multi-thread", "macros", "fs", "io-util"] }
serde_json = "1.0.128"
async-compression = { version = "0.4.12", features = ["tokio", "gzip", "zstd", "bzip2"] }
tokio-stream = "0.1.16"
async-stream = "0.3.5"